*{box-sizing:border-box}html,body{height:100%;margin:0;padding:0}

.index-page .user-specs,.index-page .public-specs{margin-top:20px}

.new-spec-page>label{display:block;margin-bottom:20px}.new-spec-page>label>input{display:block;width:100%}

.spec-block{padding-top:10px;padding-bottom:10px}.spec-block:not(:first-child){border-top:thin solid #eee}.spec-block>.content>.title{font-weight:bold}.spec-block>.content>.body{white-space:pre-wrap}.spec-block>.content>.title+.body{margin-top:10px}.spec-block>ul{margin-top:10px}.spec-block>button{margin-top:10px}

.spec-add-block-modal>.el-dialog>.el-dialog__body>*+*{margin-top:20px}.spec-add-block-modal>.el-dialog>.el-dialog__body>label{display:block}.spec-add-block-modal>.el-dialog>.el-dialog__body>label input,.spec-add-block-modal>.el-dialog>.el-dialog__body>label textarea{display:block;width:100%}

.spec-list{position:relative;padding-left:2em;list-style-type:none;counter-reset:spec-list-item-number 0}.spec-list>.spec-block.bullet:before{content:'\2022';position:absolute;left:.5em}.spec-list>.spec-block.numbered{counter-increment:spec-list-item-number}.spec-list>.spec-block.numbered:before{content:counter(spec-list-item-number) ".";position:absolute;left:.5em}

.spec-page>h2{margin-top:0}.spec-page>.desc{white-space:pre-wrap;margin-bottom:10px}

.app{height:100%}.app>.header{display:flex;background-color:lightblue;padding:20px 1cm;align-items:center}.app>.header>h1{flex:1;margin:0;cursor:pointer}.app>.header>*:not(:last-child){margin-right:20px}.app>.content-area{padding:1cm}

