// applies to header padding
$app-header-horiz-padding: 8mm;
$app-header-horiz-padding-sm: 15px;
$page-header-horiz-padding: 1cm;
$page-header-horiz-padding-sm: 20px;

// .content-area appears in app.vue
$content-area-padding: 4em;
$content-area-padding-sm: 2em;
