* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.el-select-dropdown__item {
	// Fix viewport overflow on long option labels
	max-width: 100vw;
}

.el-message-box {
	// Fix message box mobile viewport overflow
	max-width: 100%;
}
