// applies to header padding
$app-header-horiz-padding: 30px;
$app-header-horiz-padding-sm: 15px;

$page-header-vertical-padding: 20px;
$page-header-vertical-padding-sm: 15px;
$page-header-horiz-padding: 40px;
$page-header-horiz-padding-sm: 20px;

// .content-area appears in app.vue
$content-area-padding: 64px;
$content-area-padding-sm: 32px;

// spacing between icons and surrounding text
$icon-spacing: .5ex;
