$app-bg: #0048FF; //#5f0f40;
$spec-bg: #313F60; //#1b1b1e;
$subspec-bg: #8D97AE; // #6d676e;

$block-bg: silver;
$comment-bg: goldenrod;

$shadow-bg: #ECECEC;

$admin-bg: #DE3E04;

$e-success: #67c23a;

$section-highlight: rgba(240,240,255,.5);
