// margin around block that gives space for the hover shadow
$spec-block-margin: 1rem;

// margin between subsequent title-only blocks
$spec-block-title-only-spacing: 1rem;

// block point area (::before) width
$spec-block-before-width: 2rem;
// offset from right-aligned point area to block content area
$spec-block-before-offset: 1rem;

// block list padding-left (calculated from margin spanning shadow boundary, point area width and offset)
$spec-block-list-padding-left: $spec-block-margin + $spec-block-before-width + $spec-block-before-offset;

// inner list mobile margin left shift
$spec-block-sublist-shift-sm: $spec-block-list-padding-left - $spec-block-margin;

// block hover shadow offset from block in margin (calculated as percent of margin)
$spec-block-shadow-offset: $spec-block-margin / 2;
// left shadow offset must extend past the list left padding
$spec-block-shadow-offset-left: $spec-block-before-width + $spec-block-before-offset + $spec-block-shadow-offset;
