<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1"/>

	<title>CrowdSpec | Log in</title>

	<link rel="shortcut icon" href="/img/favicon.ico"/>
	<link rel="stylesheet" href="/css/static.css?v={{.VersionStamp}}"/>

	<script src="https://www.google.com/recaptcha/api.js" async defer></script>

</head>
<body>

	<h1>CrowdSpec</h1>

	<div class="content-area">

		{{if ne .Error ""}}
			<p class="error">{{.Error}}</p>
		{{end}}

		<form id="form" action="/login" method="POST">
			<table>
				<tr>
					<td><label for="username">Username</label></td>
					<td><input id="username" name="username" type="text" maxlength="50" autocapitalize="none"/></td>
				</tr>
				<tr>
					<td><label for="password">Password</label></td>
					<td><input id="password" name="password" type="password" autocapitalize="none"/></td>
				</tr>
				<tr>
					<td colspan="2">
						<div class="g-recaptcha"
							data-sitekey="{{.SiteKey}}"
							data-callback="recaptchaSuccess"
							data-expired-callback="recaptchaExpired"
							data-error-callback="recaptchaError"></div>
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<button id="submitButton" type="submit" {{if .Verify}}disabled{{end}}>Log in</button>
					</td>
				</tr>
			</table>
		</form>

		<p><a href="/request-password-reset">Request password reset</a></p>
		<p><a href="/signup">Sign up</a></p>

	</div>

	<script>window.verifyRequired = {{.Verify}};</script>
	<script src="/js/login.js?v={{.VersionStamp}}"></script>

</body>
</html>
