<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1"/>

<title>CrowdSpec</title>

<link rel="shortcut icon" href="/img/favicon.ico"/>
<link rel="stylesheet" href="/css/login.css"/>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>

</head>
<body>

	<h1>CrowdSpec</h1>

	<div class="content-area">

		<h2>Reset password</h2>

		{{if eq .Mode "success"}}

			<p>Password has been updated for user <span style="text-decoration:underline;">{{.Username}}</span>.</p>

		{{else}}

			{{if eq .Error 404}}

				<p class="error">Password reset token expired</p>

				<p><a href="/request-password-reset">Request reset password again</a></p>

			{{else}}

				{{if eq .Error 418}}
				<p class="error">Invalid reCAPTCHA</p>
				{{else if eq .Error 400}}
				<p class="error">Password minimum length is 5 digits</p>
				{{else if eq .Error 403}}
				<p class="error">Passwords do not match</p>
				{{else if eq .Error 500}}
				<p class="error">Server error</p>
				{{end}}

				<form id="form" action="/reset-password" method="POST">
					<input type="hidden" name="t" value="{{.Token}}"/>
					<table>
						<tr>
							<td><label for="newpass">New password</label></td>
							<td><input id="newpass" name="newpass" type="password" autocapitalize="none"/></td>
						</tr>
						<tr>
							<td><label for="newpass2">Repeat new password</label></td>
							<td><input id="newpass2" name="newpass2" type="password" autocapitalize="none"/></td>
						</tr>
						<tr>
							<td colspan="2">
								<div class="g-recaptcha"
									data-sitekey="{{.SiteKey}}"
									data-callback="recaptchaSuccess"
									data-expired-callback="recaptchaExpired"
									data-error-callback="recaptchaError"></div>
							</td>
						</tr>
						<tr>
							<td></td>
							<td><button id="submitButton" type="submit" disabled>Update password</button></td>
						</tr>
					</table>
				</form>

			{{end}}

		{{end}}

		<p><a href="/login">Back to login</a></p>

	</div>

	<script src="/js/reset-password.js"></script>

</body>
</html>
